#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

curl -LsSf https://astral.sh/uv/install.sh | sh

$HOME/.local/bin/uv self update

{{ range .packages.general.pip }}
$HOME/.local/bin/uv tool install {{ . }}
{{ end }}