#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

{{ if ne .chezmoi.osRelease.id "fedora" }}
exit
{{ end }}

sudo dnf --assumeyes upgrade
sudo dnf --assumeyes install rustup

rustup-init -y --no-modify-path
source "$HOME/.cargo/env"
rustup update

cargo install --locked {{ range .packages.general.cargo }} {{ . }} {{ end }}
