#!/usr/bin/env bash

set -o errexit
set -o nounset
set -o pipefail

{{ if ne .chezmoi.osRelease.id "fedora" }}
return
{{ end }}

sudo dnf --assumeyes upgrade
sudo dnf --assumeyes install rustup

rustup toolchain install stable
rustup update

cargo install --locked {{ range .packages.general.cargo }} {{ . }} {{ end }}
